body {
  font-family:Arial;
  background-color:rgb(240, 240, 240)
}

<style>
    a {	font-size: .83em; font-weight: bolder; font-family:Arial;}
    h1 {text-align: center;}
    h3 {text-align: center;}
    #centerDiv {text-align: center;}
    #rightDiv {text-align: left; font-family:Arial; font-size: .83em; font-weight: bolder;}
    #a {text-align: right;}
    h5 {text-align: left;}
  </style>
